@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .darkbg {
    background-color: #1a1a1a;
  }
  .lightbg {
    background-color: white;
  }
  .dark {
    color: white;
    background-color: #1a1a1a;
  }
  .light {
    color: black;
    background-color: white;
  }
}
html {
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
